@model IEnumerable<MyStockClientes.Models.Cliente>

@{
    // Título da página
    ViewData["Title"] = "Clientes";
}

<h1>@ViewData["Title"]</h1>
<br>
<p>
    <a asp-action="Create" class="btn btn-primary">Novo Cliente</a>
</p>

<div class="table-responsive" style="max-width: 1800px;">
    <table class="table table-striped text-center justify-content-between align-middle">
        <thead>
            <tr>
                <th style="min-width: 50px; max-width: 80px;">Cód</th>
                <th style="min-width: 150px;">Nome</th>
                <th style="min-width: 80px;">Tipo</th>
                <th style="min-width: 150px;">CPF/CNPJ</th>
                <th style="min-width: 150px;">Telefone</th>
                <th style="min-width: 150px; max-width: 200px;">E-mail</th>
                <th style="min-width: 150px; max-width: 250px;">Endereço</th>
                <th style="min-width: 80px;">Status</th>
                <th style="min-width: 250px;">Ações</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var cliente in Model){
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.NomeRazaoSocial</td>
                    <td>@cliente.Tipo</td>
                    <td>@cliente.CpfCnpj</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.Endereco</td>
                    <td>
                        @if (cliente.Status == MyStockClientes.Models.StatusCliente.Inativo)
                        {
                            <span class="badge bg-secondary">Inativo</span>
                        }
                        else
                        {
                            <span class="badge bg-success">Ativo</span>
                        }
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-sm btn-outline-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#modalEditar"
                                data-id="@cliente.Id">Editar</button>
                        
                        <a asp-action="Details" asp-route-id="@cliente.Id" class="btn btn-sm btn-outline-info">Características</a>

                        <button type="button"
                                class="btn btn-sm btn-outline-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#modalDeletar"
                                data-id="@cliente.Id">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--MODAIS-->
<!--Modal Editar-->
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarLabel">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Deseja mesmo editar este cliente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a id="btnConfirmarEditar" class="btn btn-primary" href="#">Sim, editar</a>
            </div>
        </div>
    </div>
</div>

<!--Modal Editar-->
<div class="modal fade" id="modalDeletar" tabindex="-1" aria-labelledby="modalDeletarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeletarLabel">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Deseja mesmo deletar este cliente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a id="btnConfirmarDeletar" class="btn btn-primary" href="#">Sim, deletar</a>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var modalEditar = document.getElementById('modalEditar');
        modalEditar.addEventListener('show.bs.modal',function(event){
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var link = document.getElementById('btnConfirmarEditar');
            link.href = '/Cliente/Edit/'+id;
        });

        var modalDeletar = document.getElementById('modalDeletar');
        modalDeletar.addEventListener('show.bs.modal',function(event){
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var link = document.getElementById('btnConfirmarDeletar');
            link.href = '/Cliente/Delete/'+id;
        });
    </script>
}
