@model IEnumerable<MyStockProdutos.Models.Produto>

    @{
        ViewData["Title"] = "Produtos";
    }

    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Novo Produto</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código do Produto</th>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model){
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.Marca</td>
                        <td>@item.PrecoVenda</td>
                        <td>@item.QuantidadeEstoque</td>
                        <td>
                            
                                @if (item.EstoqueBaixo){
                                    <span class="badge bg-warning">Estoque baixo</span>
                                }
                                else
                                {
                                    <span class="badge bg-success">OK</span>
                                }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Editar</a>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Características</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>